@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.dark input::placeholder {
    color: white;
}

input::placeholder {
    color: #333;
}